head {
    font-family: Verdana;
    font-size: 14px;
	color: #ffffff;
	text-align:center;
}

body{
    font-family: Verdana;
    font-size: 14px;
	color: #ffffdd;
	text-align:center;
}
a {
	color: #aaaaff;
	text-decoration:underline;
}